* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    list-style: none;
}

.container {
    max-width: 80%;
    margin: auto;
    background-color: blue;
    text-align: center;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    background: #000;
    max-width: 100%;
}

header {
    background-color: transparent;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho {
    background-color: chartreuse;
    min-width: 80%;
    height: 80%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    width: 1920px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../imagens/netflix-papel.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filho1 {
    width: 740px;
    height: 260px;
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0; /* 20px de separação total entre os elementos */
    text-align: center;
    line-height: 380%;
}

.filho1 h1 {
    font-size: 4.5rem;
}

.filho2 {
    width: 588px;
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0; /* 20px de separação total entre os elementos */
    text-align: center;
}

.filho2 a {
    margin-top: 10px;
}


.logo-button {

    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #f81f01;
    background: -webkit-linear-gradient(to right, #493240, #f81f01);
    background: linear-gradient(to right, #493240, #f81f01);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: mover-logo-desc 1s 1.1s both;

}

.logo-button:hover {

    color: white;

}


#rodape {
    background-color: brown;
}