* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    list-style: none;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
    color: white;
    background: black;
}

.container {
    max-width: 80%;
    margin: auto;
}

header {
    position: absolute; /* Ou 'fixed' se quiser fixo na tela */
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
    z-index: 1; /* Número alto para garantir que fique sobre os outros */
}

main {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */

    background-image: url('../imagens/netflix-papel.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Cor preta semi-transparente */
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 800px;
}

.logo {
    color: #f81f01;
    font-size: 50px;
}

.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 10;
    padding-top: 100px;
}

.filho1 {
    width: 565px;
    height: 260px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    line-height: 420%;
    padding: 10px;
}

.filho1 h1 {
    font-size: 4rem;
    font-weight: 800;
}

.filho2 {
    width: 588px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0; /* 20px de separação total entre os elementos */
    text-align: center;
}

.filho2 a {
    margin-top: 10px;
}


.logo-button {

    border: 0px;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);

}

.logo-button:hover {
    color: white;
}

section {
    background-color: black;
}

#secao01 {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 40px;
}

.logo img {
    width: 80px;
    height: 80px;
    background: black;
}

.secao01_button {
    border: 0px;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgba(128, 128, 128, 0.4);
    color: rgb(255, 255, 255);
}

.secao01_aviso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: linear-gradient(91deg, #482566 0%, #161d52 99.51%);
    padding: 10px 26px 10px 26px;
    border-radius: 1rem;
    margin-left: 20px
}

#secao02, #secao03, #secao_04 {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

#secao02 {
    margin-bottom: 70px;
}

.slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 20%;
    transition: 0.5s;
    padding: 20px;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}

.prev { left: 10px; }
.next { right: 10px; }

.secao03_slider {
    display: flex;
    justify-content: space-between;
    
}

.secao03_slide {
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    padding: 20px;
    border-radius: 20px;
    width: 24%;
}

.secao03_slide h2, p {
    margin-bottom: px;
}

.secao03_slides {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img_whats img {
    width: 35px;
    height: 35px;
    margin-left: 85%;
}

.faq-container {
    width: 100%;
    margin: 20px auto;
}

.faq-item {
    
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    
    background-color: rgb(45, 45, 45);
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
}

.faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.toggle-btn {
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 45px;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-btn:hover {
    background: #0056b3;
}

/*SEÇÃO DE VÍDEO AUTOMÁTICO*/

.back-black {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.739);
}

.section_video {
    width: 80%;
    margin: auto;
    margin-bottom: 70px;      
    border-radius: 8px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfY8Z4ZL6tnxEyuV8FhF2vNECG7ZmnGcyUBQ&s') center/cover no-repeat;
}

.left-div {
    width: 40%;
    padding: 20px;
    color: white;
}

.right-div {
    width: 50%;
    position: relative;
    padding: 20px;
}

#playerContainer {
    width: 100%;
    height: 333px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

#player {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url('https://i.ytimg.com/vi/AnonLmO4nmk/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCa261TweBJO8scD-VrEQ-jogSIrw') center/cover no-repeat;
    display: none;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#replayButton {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

#replayButton:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.mute-button {
    position: absolute;
    bottom: 12px;
    left: 15px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#rodape {
    
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.rodape01 {
    margin: auto;
    text-align: center;
}

.rodape01 button {
    margin-bottom: 40px;
    margin-top: 10px;
}

.rodape02 h4 {
    margin-bottom: 35px;
}

.menu_auxiliar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    color: rgba(255, 255, 255, 0.7);
}

.menu_auxiliar a {
    color: rgba(255, 255, 255, 0.7);
}


/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    list-style: none;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
    color: white;
    background: black;
}

.container {
    max-width: 80%;
    margin: auto;
}

/* Cabeçalho */
header {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 1;
}

/* Ajuste do layout principal */
main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    background-image: url('../imagens/netflix-papel.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 800px;
}

.logo {
    color: #f81f01;
    font-size: 50px;
}

/* Estilos responsivos */
@media (max-width: 1024px) {
    .container {
        max-width: 90%;
    }
    
    #cabecalho {
        gap: 100px;
    }
    
    .filho1 {
        width: 100%;
        height: auto;
        line-height: 1.5;
    }

    .filho1 h1 {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    #cabecalho {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    .pai {
        padding-top: 50px;
    }
    
    .filho1 h1 {
        font-size: 2.5rem;
    }
    
    .filho2 {
        width: 100%;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 30px;
    }
    
    .filho1 h1 {
        font-size: 2rem;
    }
    
    .filho2 {
        font-size: 14px;
    }
    
    .logo-button {
        font-size: 1rem;
        min-height: 2.5rem;
        padding: 0.5rem 1rem;
    }

    .secao03_slider {
        flex-direction: column;
    }

    .back-black {
        flex-direction: column;
    }
}
