* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    list-style: none;
}

body, html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;

    background: #ff0000;
    background: -webkit-radial-gradient(circle, #ff0000 0%, #000000 10%, #000000 10%, #000000 10%);
    background: radial-gradient(circle, #ff0000 0%, #000000 80%, #000000 10%, #000000 10%);
}

.container {
    max-width: 50%;
    margin: auto;
}

header {
    position: absolute; /* Ou 'fixed' se quiser fixo na tela */
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0, 0, 0, 0); /* Fundo semi-transparente */
    z-index: 1; /* Número alto para garantir que fique sobre os outros */
}

main {
    width: 1920px;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */

    background-image: url('../imagens/netflix-papel.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Cor preta semi-transparente */
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f81f01;
    font-size: 50px;
}







.pai {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    z-index: 10;
}

.filho1 {
    width: 750px;
    height: 260px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0; /* 20px de separação total entre os elementos */
    text-align: center;
    line-height: 380%;
}

.filho1 h1 {
    font-size: 4.5rem;
}

.filho2 {
    width: 588px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0; /* 20px de separação total entre os elementos */
    text-align: center;
}

.filho2 a {
    margin-top: 10px;
}


.logo-button {

    border: 0px;
    cursor: pointer;
    fill: currentcolor;
    position: relative;
    transition-duration: 250ms;
    transition-property: background-color, border-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
    vertical-align: text-top;
    width: auto;
    font-size: 1.5rem;
    font-weight: 500;
    min-height: 3.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    background: rgb(229, 9, 20);
    color: rgb(255, 255, 255);

}

.logo-button:hover {
    color: white;
}

section {
    background-color: black;
}


#rodape {
    background-color: brown;
}